################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MVVM_Example/bin/Debug/netcoreapp3.1

/MVVM_Example/obj/Debug/netcoreapp3.1
